body {
    background-image: url('oto.png') ;
    background-repeat: no-repeat;
}

.box1 {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;
    background-color: rgba(255, 255, 255, 0.253);
    height: 400px;
    width: 400px;
    border-radius: 50px;
}
.container {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;
    top: 250px;
    left: 100px;
}
.inputbox {
    margin: 20px;
}
#button1 {
    width: 100px;
    height: 50px;
    border-radius: 40px;
    transition: 0.1s linear;
    border: none;
    background-color: rgba(150, 146, 146, 0.452);
}
#button1:hover{
    background-color: gray;
    transition: 0.1s linear;
    border: none;
}
#input2:hover{
    transition: 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
    font-size: small;
}
#list1{
    list-style: none;
    position: relative;
    top: 30%;
}
.dong1{
    float: left;
    padding-left: 20px;
}
.box2{
    background-color: rgba(128, 128, 128, 0.466);
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0px;
}
#list2{
    float: right;
}
.dong2{
    list-style: none;
    margin-top: 30px;
    float: left;
    margin-right: 10px;
}
#button2{
    color: white;
    border-radius: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    position: relative;
    transition: 0.2s linear;
    border: 1px solid rgb(154, 154, 156);
}
#button2:hover{
    background-color: rgb(19, 17, 17);
    transition: 0.2s linear;
}

@media (max-width: 1024px) {
    #list1{
        float: none;
        position: relative;
        top: 20%;
        list-style: circle;
    }
    .dong1{
        float: none;
        padding-bottom: -20px;
    }
    .container {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        position: relative;
        top: 150px;
        left: 0px;
    }
}

#username{
    transition: 0.5s linear;
    position: relative;
}

#username:hover {
    transition: 0.1s linear;
    font-size: 13px;
}

#password{
    transition: 0.5s linear;
    position: relative;
}

#password:hover {
    transition: 0.1s linear;
    font-size: 13px;
}

#confirmPassword{
    transition: 0.1s linear;
    position: relative;
}

#confirmPassword:hover{
    transition: 0.1s linear;
    font-size: 13px;
}